<?xml version="1.0" encoding="UTF-8"?>
<suite name="NewTours">
	<parameter name="username" value="dummyuser" />
	<parameter name="password" value="password" />
	<parameter name="url"
		value="http://newtours.demoaut.com/mercurywelcome.php" />
	<parameter name="toEmailId" value="abhinav.sharma@ranosys.com" />
	<parameter name="fromEmailId"
		value="ranotestautomation@gmail.com" />
	<parameter name="senderName" value="Rano" />
	<parameter name="senderPassword" value="jimmy_007" />
	<parameter name="host" value="relay.jangosmtp.net" />
	<test name="Test One">
		<classes>
			<class name="com.rano.selenium.script.NewToursSmoke" />
		</classes>
	</test>
</suite>